@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-body:#f3f5f8; 
    --bg-hover: #249fda;
    --icon-color: #6c757d;
}

body{
    font-family: "Kantumruy Pro", sans-serif;
    background-color: var(--bg-body);
}
.bg-body{
    background-color: var(--bg-body) !important;
}
.navbar form .form-control, .input-group-text{
    background-color: #f3f5f8 !important;
    border: none !important;
    font-size: 15px;
}
.navbar-brand{
    height: 70px;
}
.navbar-brand img{
    transform: scale(1.3);
}
.nav-link img{
    background-color: #f4f5f6;
}
.nav-link span{
    font-size: 15px;
}
.nav-link .gray{
    transition: 0.2s;
    filter: saturate(0.1);
}
.nav-link:hover .gray{
    animation: nav-hover 0.2s;
    filter: saturate(1);
    background-color: #f3f5f8;
}
.nav-link:hover span{
    color: #249fda;
}
.dropdown-menu li:hover{
    background-color: #f3f5f8;
}
.btn-ddd{
    background-color: #ddd;
    transform: scale(0.8);
}
.navbar form .form-control{
    max-width: 350px;
}
.navbar form .form-control:focus, .input-group-text{
    box-shadow: none;
    border-color: #ddd;
}
.offcanvas-profile{
    width: 60px;
    height: 60px;
}
.btn-profile{
    width: 47px;
    height: 47px;
}
.btn-offcanvas{
    width: 43px;
    height: 43px;
    overflow: hidden;
}
.navbar .dropdown-menu{
    min-width: 250px;
}
.offcanvas-footer button:hover{
    color: #249fda;
    background-color: #f3f5f8;
}
.badge-notifacation{
    padding:0px 6px;
    top: 13px;
    left: 55px;
    font-size: 13px !important;
}
@keyframes nav-hover {
    0% {transform: scale(1);}
    50% {transform: scale(0.5);}
    100% {transform: scale(1);}
}
@media (max-width: 768px) {
    .badge-notifacation{
        top: 13px;
        left: 25px;
    }
}

/* Seaklim */
.profile .card .card-body .more-option-btn .btn {
    background-color: var(--bg-body);
}
.profile .card .card-body .profile-content .privacy a{
    color: var(--icon-color);
}

.profile .card .card-body .profile-content .profile-img{
    width: 65px;
    height: 65px;
}
.profile .card .card-body .profile-content .profile-img img{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    object-position: center;
}

.nav-pills .nav-item .nav-link{
    font-weight: 500;
}

.create-post .card .card-body .profile-img{
    max-width: 45px;
    max-height: 45px;
    border-radius: 100%;

}
.create-post .card .card-body .profile-img img{
    width: 100%;
    height: 100%;
}

.create-post .create-post-modal input{
    width: 100%;
    height: 45px;
} 

.modal .modal-body .card .card-header .name span{
    padding: 2px 5px;
    font-size: 13px;
    background-color: #E7F0FD;
    color: #249fda;
}
.modal .modal-body .card .card-body .more-option a{
    padding: 2px 10px;
    font-size: 13px;
    text-decoration: none;
    border-radius: 10px;
}
.modal .modal-body .card .card-body .more-option a:nth-child(1){
    background-color: #E6F8F3;
    color: rgba(0, 128, 0, 0.548);
}
.modal .modal-body .card .card-body .more-option a:nth-child(2){
    background-color: #FEF9EA;
    color: orange;
}
.modal .modal-body .card .card-body .more-option a:nth-child(3){
    background-color: #E7F0FD;
    color: #249fda;
}

.modal .modal-footer button{
    width: 48%;
}

.modal .modal-footer .btn-secondary{
    color: #6c757d !important;
    background-color: #EEF0F2;
    font-size: 14px;
    font-weight: 500;
    border: none;
}
.modal .modal-footer .btn-primary{
    background-color: #70C1E7;
    font-size: 14px;
    font-weight: 500;
    border: none;
}

.profile-image img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.wrapper .comment {
    border: 1px solid #ddd;
}

.wrapper .form-control:focus {
    color: none !important;
    background-color: none !important;
    border-color: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.wrapper .icon .image {
    width: 26px;
    height: 26px;
    object-fit: cover;
}

.wrapper .icon .emoji,
.wrapper .icon .share {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.image .image-loading{
  width: 100%;
  height: 400px;
  background-color: #f0f0f0;  
}

.profile-image-loading{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #f0f0f0;
}

.name-loading{
    width: 100px;
    height: 4px;
    background-color: #f0f0f0;
}

.status-loading{
    width: 60px;
    height: 4px;
    background-color: #f0f0f0;
}

.three-dot-loading{
    width: 60px;
    height: 4px;
    background-color: #f0f0f0;
}

.text-loading{
    width: 100%;
    height: 4px;
    background-color: #f0f0f0;
}

.reaction-loading{
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;   
    border-radius: 50%;
}

.comment-loading{
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
}