@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-body:#f3f5f8; 
    --bg-hover: #249fda;
    --icon-color: #6c757d;
}
body{
    /* font-family: "Kantumruy Pro", sans-serif; */
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-body);
}
.bg-body{
    background-color: var(--bg-body) !important;
}
.navbar{
    height: 66px;
}
.navbar-brand{
max-width: 85px !important;
}
.navbar .profile{
    width: 30px;
    height: 30px;
}
.nav-link img{
    filter: saturate(1);
}
.nav-link span{
    font-size: 15px;
}